.admin-page{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--color-light-orange);
    margin: 0;
    padding: 0;
}

.admin-page h1{
    margin-top: 60px;
}