/*shared*/
#section-image {
    max-width: 100%;
    object-fit: cover;
    margin-top: 60px;
}

#button-view {
    color: white;
    background-color: black;
    height: 43px;
    width: 133px;
    margin: var(--space-medium);
    padding: var(--space-small);
    text-align: center;
    display: grid;
    align-items: center;
}

/*HomePage.jsx*/
.welcome img{
    margin-top: 80px;
}

/*MenuPage.jsx*/
.categories {
    background-color: var(--color-light-orange);
    display: grid;
    justify-items: center;
    align-items: center;
}

.categories a{
    text-decoration: none;
    color: black;
}

/*ProductPage.jsx*/
.product-page{
    background-color: var(--color-light-orange);
    padding-bottom: 50px;
    text-align: center;
}

.product-page h2 {
    margin: var(--space-medium);
}

.product-page p {
    margin: var(--space-medium);
}

.product-text{
    display: grid;
    justify-content: center;
}

.product-link{
    display: grid;
    justify-content: center;
}

.button-back {
    color: white;
    background-color: black;
    height: 43px;
    width: 280px;
    margin: var(--space-medium);
    padding: var(--space-small);
    text-align: center;
    display: grid;
    align-items: center;
    text-decoration: none;
}

/*ProductItem.jsx*/
.dish-preview{
    margin: var(--space-medium);
    display: grid;
}

.dish-text{
    margin-top: 0;
    padding-top: 0;
    background-color: black;
    color: white;
}

.dish-preview img {
    max-width: 100%;
    object-fit: cover;
}

.dish-text h3 {
    margin: var(--space-medium);
}

.dish-text p {
    margin: var(--space-medium);
}

.button-details{
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    height: 43px;
    width: 133px;
    margin: var(--space-medium);
    padding: var(--space-small);
    text-align: center;
    display: grid;
    align-items: center;
}

/*CategoryPage.jsx*/
.categories-page {
    background-color: var(--color-light-orange);
    display: grid;
    justify-items: center;
    align-items: center;
}

.category-info {
    padding: var(--space-medium);
    text-align: center;
}

/*CategoryItem.jsx*/
.category-card h3 {
    margin: var(--space-medium);
}

.category-card p {
    margin: var(--space-medium);
}


/*Desktop queries*/
@media (min-width: 1000px) {
    #section-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-top: 60px;
    }
    .menu-page {
        display: grid;
        justify-content: center;
        background-color: var(--color-light-orange);
    }
    .categories {
        max-width: 1000px;
      grid-template-columns: repeat(2, 1fr);
    }

    .category-card {
        padding: var(--space-medium);
    }

    .products-list {
        max-width: 1000px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .category-info {
        max-width: 1000px;
        display: grid;
        justify-content: center;
    }

    .dish-preview img {
        width: 100%;
        height: 300px;
    }

    .product-text h2 {
        max-width: 750px;
    }

    .product-text p {
        max-width: 750px;
    }
}








