.welcome {
  background-image: url("../assets/pictures/welcome.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.welcome-text {
  padding: var(--space-small);
  display: grid;
  justify-items: center;
  align-items: center;
}

.welcome h1 {
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  margin-bottom: var(--space-small);
  font-size: 30px;
}

.welcome p {
  text-align: center;
  color: white;
  max-width: 300px;
  margin: 0;
  margin-bottom: var(--space-small);
  padding: 0;
}